.attribution {
    font-size: 0.6875rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    margin: 0;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    color: hsl(300, 43%, 22%);
    font-size: 0.9375rem;

    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  
    min-height: 100vh;
    
  }

  main {
    width: 23.4375rem;
    height: 100%;

    background-color: transparent;

  }

  h1 {
    font-size: 2.25rem;
    margin: 5rem 4.375rem 1.5625rem 4.375rem;
  }

  .title {
    margin-bottom: 2.5rem;
  }

  .titleText {
    margin: 0 1.3125rem;
    font-size: 1.125rem;

  }

  .rating {
    background-color: hsl(300, 24%, 96%);

    width: 20.625rem;
    height: 4.6875rem;
    margin: 0 auto 1.0625rem auto ;

    border-radius: 0.9375rem;

    font-weight: bold;

    display: flex;
    flex-direction: column;
  }

  .ratingStars {
    margin: 1rem 0;
  }

  .ratingText {
    margin-bottom: 1rem;
  }

  .reviews {
    margin-top: 2.0625rem;
  }
  .review {
    background-color: hsl(300, 43%, 22%);
    color: #fff;

    margin: 1.0625rem auto 0 auto;
    padding: 1.875rem;

    width: 18.75rem;
    height: 13.75rem;
    border-radius: 0.9375rem;

    text-align: left;

  }

  .reviewHeader{
    margin-top: 0.3125rem;

    display: flex;
  }

  .reviewImage {
    border-radius: 50%;
    height: 2.6875rem;
  }

  .reviewHeaderText {
    display: flex;
    flex-direction: column;

    margin-left: 1.5625rem;
  }

  .reviewHeaderName {
    font-weight: bold;
    height: 50%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .reviewHeaderTitle {
    color: hsl(333, 80%, 67%);
    height: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .reviewQuote {
    margin-top: 1.875rem;
    font-size: 1rem;
    letter-spacing: 0.0813rem;
    line-height: 1.4375rem;
  }

  @media screen and (min-width: 75rem) {
    main {
      width: 75rem;
    }
    body{
      background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    }
    
    .layoutTop {
      display: flex;
      justify-content: space-between;
    }

    .title {
      width: 26.25rem;

      text-align: left;
    }

    .pageTitle {
      font-size: 3.125rem;
      margin: 0;
    }

    .titleText {
      margin: 1.875rem 0 0 0;
      line-height: 1.5625rem;
    }

    .ratingsGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .rating {
      width: 27.8125rem;
      height: 3.4375rem;
      flex-direction: row;

      align-items: center;

      /* margin: 0 0 1.0625rem 0 ; */

    }

    .ratingStars {
      margin: 0 2.1875rem;

    }

    .ratingText {
      margin: 0;
    }
    
    #rating1 {
      margin-right: 6.25rem;
    }

    #rating2 {
      margin-right: 3.125rem;
    }

    #rating3 {
      margin-right: 0;
    }

    .reviews {
      display: flex;
    }

    .review {
      width: 18.125rem;
      height: 10.9375rem;
    }

    .reviewQuote {
      line-height: 1.3125rem;
      letter-spacing: 0.0262rem;
    }

    #review1 {
      margin-top: 0;
    }

    #review2 {
      margin-top: 1.0625rem;
    }

    #review3 {
      margin-top: 2.125rem;
    }
  }